/* MARKETING CONTENT
-------------------------------------------------- */
/* Pad the edges of the mobile views a bit */
.marketing {
	padding-left: 15px;
	padding-right: 15px;
}

.marketing .col-lg-4 {
	text-align: center;
    margin-bottom: 20px;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
	margin-left: 10px;
	margin-right: 10px;
}