html, body {
    height: 100%;
}

.footer {
	height: 60px;
	background-color: #f5f5f5;
}

.container {
	width: auto;
	max-width: 1170px;
	padding: 0 15px;
}

.container .credit {
    margin: 20px 0;
}

#wrap {
	min-height: 100%;
	height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}


#hackerDetail .hackerPhoto {
	background: #f2f6f8; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* IE10+ */
	background: linear-gradient(135deg, #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#hackerDetail h4 {
	font-variant: small-caps;
	border-bottom: 2.5px solid gray;
}

#hackerDetail h3 {
	font-variant: small-caps;
	border-bottom: 2.5px solid gray;
}

#membershipDetails .name, #membershipDetails .membershipType, #membershipDetails .year {
	margin: 0;	
}

#membershipDetails .name {
	font-size: 12px;
}

#membershipDetails .membershipType {
	font-size: 11px;
}

#membershipDetails .year {
	font-size: 11px;
	font-style: italic;
}