@(socialNetwork: controllers.SocialNetworkManager.SocialNetworkDTO)

@import helper.bootstrap._

@implicitField = @{ helper.FieldConstructor(views.html.helper.bootstrap.fieldConstructor.f) }

@scripts = {
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
    <link href="@routes.Assets.at("stylesheets/datepicker.css")" rel="stylesheet">
    <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>
}

@main("SocialNetwork", "socialnetwork-link", scripts) {
	<div class="container">
		<h3>Register a new Social Network</h3>
			@socialNetwork.fullname</br>
			@socialNetwork.url</br>
			socialNetwork.id</br>
	</div>
	
}
