@(eventForm: Form[controllers.EventManager.EventDTO])

@import helper.bootstrap._

@implicitField = @{ helper.FieldConstructor(views.html.helper.bootstrap.fieldConstructor.f) }

@scripts = {
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
    <link href="@routes.Assets.at("stylesheets/datepicker.css")" rel="stylesheet">
    <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>
}

@main("Event", "event-link", scripts) {
	<div class="container">
		<h3>Insert the Event information</h3>
		@form(action = routes.EventManager.create(), true, 'id -> "eventForm"){
		    @inputText(eventForm("Event Name"))
	  		@inputText(eventForm("Public URL"))
	  		@inputHidden(eventForm("id"))
			@inputSubmit(
	  		   '_label -> "Register",
	  		   '_class -> "btn btn-primary btn-sm"
	  		   )
		}
	</div>
}
