@(eventsList : List[controllers.EventManager.EventDTO])
@main("Event", "events-link") {
    <div class="container">
		<h3>Search Events</h3>
		<form class="form" role="search">
			<div class="input-group">
				<input type="text" class="form-control" id="inputText" placeholder="Name or Url">
		  		<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			</div>
		</form>
		<h3>Events</h3>
		<div class="row">
			<div class="col-lg-12">
				<table class="table table-hover">
					<thead>
						<tr><td>Name</td><td>URL</td><td></td></tr>
					</thead>
					<tbody>
						@for(socNwk <-eventsList) {
							<tr>
							<td>@socNwk.name</td>
							<td><a class="btn btn-primary btn-sm" role="button" href="/event/@socNwk.id">Show</a>
							<a class="btn btn-primary btn-sm" role="button" href="/eventEdit/@socNwk.id">Edit</a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}
