@(event: controllers.EventManager.EventDTO)

@import helper.bootstrap._

@implicitField = @{ helper.FieldConstructor(views.html.helper.bootstrap.fieldConstructor.f) }

@scripts = {
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
    <link href="@routes.Assets.at("stylesheets/datepicker.css")" rel="stylesheet">
    <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>
}

@main("Event", "event-link", scripts) {
	<div class="container">
		<h3>Event : @event.name</h3>
			<p>Url : @event.url</p>
			<p>@event.id</p>
		    <a class="btn btn-primary btn-sm" role="button" href="/eventEdit/@event.id">Edit</a></td>
	</div>
	
}
