@(newHackerForm: Form[controllers.Register.HackerDTO])

@import helper.bootstrap._

@implicitField = @{ helper.FieldConstructor(views.html.helper.bootstrap.fieldConstructor.f) }

@scripts = {
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
    <link href="@routes.Assets.at("stylesheets/datepicker.css")" rel="stylesheet">
    <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>
}

@main("Register", "register-link", scripts) {
    <div class="container">
		<h3>Register New Hacker</h3>
		@form(action = routes.Register.newHacker(), true, 'id -> "newHackerForm"){
		    @inputText(newHackerForm("username"))
	  		@inputText(newHackerForm("name"))
	  		@inputPassword(newHackerForm("password.main"))
	  		@inputPassword(newHackerForm("password.confirm"))
	  		@inputText(newHackerForm("email"))
	  		@inputDate(
	  			newHackerForm("birthday"),
	  			'_label -> "Birthday")
	  		@inputRadioGroup(
	  			newHackerForm("sex"),
	  			options = Seq("Male", "Female"))
	  		@inputSubmit(
	  			'_label -> "Register")
		}
	</div>
}
