@main("Register", "register-link") {
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-md-6">
			<div class="col-md-6">
				<a href="#" class="btn btn-primary center-block" style="width: 175px; padding: 10px 0px; margin: 5px auto;">
					<i class="fa fa-user fa-5x" style="margin-bottom: 5px;"></i>
					<br />
					<span>New Hacker</span>
				</a>
			</div>
			<div class="col-md-6">
				<a href="#" class="btn btn-primary center-block" style="width: 175px; padding: 10px 0px; margin: 5px auto;">
					<i class="fa fa-users fa-5x" style="margin-bottom: 5px;"></i>
					<br />
					<span>New Hackerspace</span>
				</a>
			</div>
		</div>
		<div class="col-xs-3"></div>
	</div>
}
